# Created by .ignore support plugin (hsz.mobi)
### git2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp*

tests/**/*.js
tests/**/*.d.ts
tests/*.js
tests/*.d.ts
tests/temp*

!/.gitignore
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### temp template
/~*
~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

/*.log
/*.lock

*.tmp
### test template
*.spec.ts
*.spec.js
*.spec.js.map
*.test.ts
*.test.js
*.test.js.map
/bin/*.d.ts
/bin/*.js
