# Created by .ignore support plugin (hsz.mobi)
### npm2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt
*.stackdump
*.bak
*.old
tsconfig.json
#package-lock.json
test
.github
.gitkeep
/.*
tests
/~*
__test__
__tests__
/node_modules/
**/node_modules/
### temp template
/*.log
/*.lock
*.tmp
### Example user template template
### Example user template
# IntelliJ project files
*.iml
out
gen
### test template
*.spec.ts
*.spec.js
*.spec.js.map
*.test.ts
*.test.js
*.test.js.map
*.ts
!*.d.ts

